<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Valorant - design de conceito da página de agentes</title>
</head>
<body>
  <header id='header'>
    <nav class="container" id='nav'>
      <div class="menu-main">
        <a href="/" class="logo"><img src="/svg/riot games.svg" id="logo_RiotGames" alt="Riot games">  | <img src="/svg/logo.svg" id="logo_valorant" alt="logo Valorant"></a>
        <div class="menu">
          <ul class='grid'>          
            <li><a class="menu-link" href="#">GAME</a></li>
            <li><a class="menu-link" href="#">CHAMPIONS</a></li>
            <li><a class="menu-link" href="#">NEWS <i class="fa-solid fa-sort-down"></i></a></li>
            <li><a class="menu-link" href="#">PATCH NOTES</a></li>
            <li><a class="menu-link" href="#">DISCOVER <i class="fa-solid fa-sort-down"></i></a></li>
            <li><a class="menu-link" href="#">ESPORTS</a></li>
            <li><a class="menu-link" href="#">UNIVERSE</a></li>
            <li><a class="menu-link" href="#">SHOP</a></li>
            <li><a class="menu-link" href="#">SUPPORT</a></li>
          </ul>
        </div>
      </div>
      <div id="perfil">
        <img src="/img/user.png" alt="">
        <span>UNEPICKID <i class="fa-solid fa-sort-down"></i></span>
      </div>
      <i class="fa-solid fa-bars toggle"></i>
      <i class="fa-solid fa-xmark toggle"></i>
    </nav>    
  </header>
  <!-- FontWesome -->
  <script src="https://kit.fontawesome.com/673aed7dea.js" crossorigin="anonymous"></script>
  <!-- Main -->
  <script src="/js/main.js"></script>
</body>
</html>