@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  height: auto;
}
html {
  scroll-behavior: smooth;
}

/* settings */
:root{
  --color-dark: #1F2326;
  --color-light: #F8F8F8;
  --color-light-alt: #EFEFEF;
  --color-primary: #FF4656;
}

html {
  scroll-behavior: smooth;
}

body{
  background: var(--color-primary);
  background-image: url('/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar{
  width: .5rem;              
}
  
body::-webkit-scrollbar-track{
  background: var(--color-light-alt);
}
 
body::-webkit-scrollbar-thumb{
  background: var(--color-dark);
  border-radius: 1rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* #navigation */

#header {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--color-dark);
  color: var(--color-light);
  width: 100%;
  z-index: 5;
}

#nav {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-main{
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#nav .logo{
  font-size: 1.5rem;
  color: var(--color-light);
  transition: color 0.2s;
  position: relative;
  margin-right: 2rem;
  transition: .3s;
}

#nav .logo:hover{
  color: var(--color-light);
  opacity: .7;
}

.logo:after{
  display: none;
}

#logo_RiotGames{
  margin-right: 1rem;
  width: 2rem;
}

#logo_valorant{
  width: 1.5rem;
  margin-left: 1rem;
}

#nav ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: .8rem;
  line-height: 17px;
  transition: color 0.2s;
  position: relative;
  color: var(--color-light);
}

#nav ul li a i{
  margin-bottom: .1rem;
  margin-left: .6rem;
}

#nav ul li a:hover,
#nav ul li a.active {
  color: var(--color-primary);
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
#nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--color-dark);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

#nav.show .menu ul {
  display: grid;
}

#nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--color-light);
  font-size: 1.5rem;
  cursor: pointer;
  transition: .3s;
}

.toggle:hover,
.toggle:focus{
  color: var(--color-primary);
}

#nav .fa-xmark {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

#nav.show .fa-xmark {
  position: fixed;
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

#nav.show ul.grid {
  gap: 2.5rem;
}

#perfil{
  display: flex;
  align-items: center;
  justify-content: center;
}

#perfil span{
  display: contents;
  font-size: .8rem;
  margin: 1rem;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  position: relative;
}

#perfil span:hover{
  color: var(--color-primary);
}

#perfil img,
#perfil span i{
  margin: 0.5rem;
}

/* Menu-hover */

#nav .menu-hover{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  margin-top: 11rem;
  background: var(--color-dark);
  border: .2rem solid var(--color-primary);
  box-shadow: 0 0 2rem var(--color-primary);
  border-radius: 1rem;
  gap: 0;
  z-index: 6;
}

/* Section dos agents */

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

li.divT{
  width: 10rem;
  height: 25rem;
  background: transparent;
  cursor: auto;
  border-top-left-radius: 0;
  margin: 0;
  transition: .2s ease-in-out;
  position: relative;
}

li.divT:hover{
  background: transparent;
}

.text{
  width: 3.5rem;
  height: 32rem;
  background-image: url('/img/icon/AGENTS.png');
  background-size: cover;
  margin-right: 1rem;
}

#list-agents{
  display: flex;
}

.agent{
  width: 14rem;
  height: 30rem;
  background: var(--color-dark);
  border-top-left-radius: .5rem;
  margin: 2rem;
  cursor: pointer;
  transition: .1s ease-in-out;
  position: relative;
}

.agent:hover,
.agent:focus{
  background: var(--color-light);
}

.agent h1{
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  transform: rotate(90deg);
  color: transparent;
  -webkit-text-stroke-width: .01rem;
  -webkit-text-stroke-color: var(--color-light-alt);
  transition: .1s ease-in-out;
}

#agent-phoenix h1{
  top: 6rem;
  left: -6.5rem;
}
#agent-phoenix p{
  top: 3.8rem;
  left: -.7rem;
}

#agent-jett h1{
  top: 2.5rem;
  left: -3rem;
}
#agent-jett p{
  top: 2.8rem;
  left: .2rem;
}

#agent-sova h1{
  top: 3.2rem;
  left: -3.8rem;
}
#agent-sova p{
  top: 1.9rem;
  left: 1.2rem;
}

#agent-sage h1{
  top: 3.2rem;
  left: -3.8rem;
}
#agent-sage p{
  top: 1.9rem;
  left: 1.2rem;
}

.agent:hover h1,
.agent:focus h1{
  -webkit-text-stroke-color: var(--color-dark);
}

.agent p{
  position: absolute;
  color: var(--color-primary);
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  transform: rotate(90deg);
}

#abilities{
  width: 100%;
  height: 3.8rem;
  position: absolute;
  bottom: -1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-dark);
  border: .1rem solid var(--color-light);
  transition: .1s ease-in-out;
}

.agent:hover #abilities,
.agent:focus #abilities{
  background: var(--color-light);
  border: .1rem solid var(--color-dark);
}

#abilities img{
  width: 1.5rem;
  margin: 0.2rem auto;
  transition: .3s ease-in-out;
}

#abilities img:hover{
  transform: translateY(-.8rem);
}

ul #agent-phoenix{
  background-image: url('/img/agent-phoenix.png');
  background-size: cover;
}

ul #agent-jett{
  background-image: url('/img/agent-jett.png');
  background-size: cover;
}

ul #agent-sova{
  background-image: url('/img/agent-sova.png');
  background-size: cover;
}

#list-agents #agent-sage{
  background-image: url('/img/agent-sage.png');
  background-size: cover;
}

footer{
  width: 100%;
  margin-top: 10rem;
  height: 8rem;
  background: var(--color-light);
  display: flex;
  position: absolute;
}

.card{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -4rem auto;
  background: var(--color-light);
  border: .1rem solid var(--color-dark);
  border-top-left-radius: .8rem;
  width: 20rem;
  height: 10rem;
}

.card::before{
  content: '';
  position: absolute;
  width: 7rem;
  height: 6.8rem;
  left: 10.2rem;
  bottom: -.01rem;
  background: var(--color-primary);
  z-index: 0;
}

.card h1{
  font-size: 1.1rem;
  color: #C4C4C4;
}

.card h2{
  font-size: .6rem;
  margin: .5rem auto;
}

.card p{
  font-size: .7rem;
  color: #6d6d6d;
  padding-bottom: 1.5rem;
}

.c1,.c2{
  margin-left: .5rem;
}

.img-footer{
  position: relative;
  width: 6rem;
  margin: 2.5rem;
  left: 1.5rem;
  z-index: 1;
}

.card-second{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -4rem auto;
  background: var(--color-light);
  border: .1rem solid var(--color-dark);
  border-top-left-radius: .8rem;
  width: 10rem;
  height: 10rem;
}

.card-second:before{
  display: none;
}
/*  ################################---RESPONSIVE---################################  */

@media (min-width: 1900px) {
  footer{
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 1200px) {
  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .fa-bars {
    display: none;
  }
}

@media(max-width: 1200px){
  body{
    background-repeat: repeat;
  }
  .text{
    position: fixed;
    top: 5%;
    left: 4%;
    background-image: url('/img/icon/AGENTS.png');
    background-size: cover;
    margin: 0;
  }
  #list-agents{
    display: grid;
    margin: auto;
  }
  li.divT{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  footer{
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .card,card-second{
    margin: 2rem auto;
  }
}

@media(max-width: 1088px){
  li.agent{
    width: 20rem;
    height: 40rem;
  }
}

@media(max-width: 780px){
  body footer{
    display: inline-block;
  }
}

@media(max-width: 380px){
  #logo_RiotGames{
    margin-right: 0;
  }
  
  #logo_valorant{
    margin-left: 0;
  }

  .agent{
    width: 14rem;
    height: 30rem;
  }
}

@media(width: 320px){
  li.agent{
    width: 10rem;
    height: 20rem;
  }
  #logo_RiotGames{
    width: 1rem;
  }

  #logo_valorant{
    width: 1rem;
  }
  #nav .logo{
    margin: 0;
  }
}